/* .movie-wrapper {} */
.movie-list {
  margin: 20px 0;
}

.movie-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.movie-list__title {
  color: var(--font-primary);
  font-size: 40px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;  
}

.movies-error {
  color: var(--font-primary);  
}