.container {
  margin: 0px 40px;
  overflow: hidden;
  min-height: 100vh;

  display: flex;
  flex-direction: column;  
  justify-content: space-around;
}

@media (max-width: 534px) {
  .container {
    margin: 0px 10px;
  }

}